body {
    font-family: 'Lilita One', cursive;
    background-image: url('img/bg.jpg');    
}

#main-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    vertical-align: middle;
}

h2 {
    text-align: center;
}

#box-pool {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#prices {
    width: 20%;    
}

#legend {    
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

#legend .box {
    margin-left: 10px;
    margin-right: 4px;
    background-image: none;
}

.box {
    width: 35px;
    height: 35px;
    background: url(img/box.png);
    background-size: cover;    
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 5px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
}

.box[data-opened=true] {    
    cursor: default;    
}

.box[data-opened=true][data-price=nothing] {    
    opacity: 0;
}

.box[data-opened=true][data-quality=special]{    
    background-color: chartreuse;
}

.box[data-opened=true][data-quality=superspecial]{    
    background-color: dodgerblue;
}

.box[data-opened=true][data-quality=epic]{    
    background-color: deeppink;
}

.box[data-opened=true][data-quality=mythical]{    
    background-color: red;
}

.box[data-opened=true][data-quality=legendary]{    
    background-color: yellow;
}

.brawler {
    margin: 15px;
    width: 100%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    filter: drop-shadow(2px 4px 6px black);
}